<%= form_for(profile) do |f| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-xs-7">
    <%= f.label :firstname %>
    <%= f.text_field :firstname, class:"form-control" %>
  </div>

  <div class="col-xs-7">
    <%= f.label :lastname %>
    <%= f.text_field :lastname, class:"form-control" %>
  </div>

  <div class="col-xs-7">
    <%= f.label :address %>
    <%= f.text_field :address, class:"form-control" %>
  </div>

  <div class="col-xs-7">
    <%= f.label :user_id %>
    <%= f.text_field :user_id, class:"form-control" %>
  </div>

  <div class="actions">
      <br>
      <br>
      <br>
      <br>
      <br>
    <%= f.submit %>
  </div>
<% end %>
